body{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/b0e53331516629.565449774c2d4.png);
	background-repeat: no-repeat;
  	background-size: 100%;
  	display: flex;
}

header{
	display: flex
	justify-content: bottom;
}

h1{
	text-align: center;
	padding: 6px;
}

#statusbar{
	border: 6px double purple;
	width: 210px;
	padding: 6px;
	background-color: rgba(28,110,164,0.35);
}
button{
	padding: 6px;
	align-content: center;
	border-radius: 11px; 
	vertical-align: bottom;

}
input{padding: 6px;
	align-content: center;
	border-radius: 11px; 
}