body{
	background: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/b0e53331516629.565449774c2d4.png);
	background-repeat: no-repeat;
  	background-size: 100%;
  	display: flex;
}

header{
	display: flex
	justify-content: bottom;
}

h1{
	text-align: center;
	padding: 6px;
	font-family: Optima, sans-serif, 
}

#statusbar{
	border: 16px double purple;
	width: 210px;
	padding: 6px;
	background-color: rgba(28,110,164,0.35);
	font-family: Optima, sans-serif
	
}
button{
	padding: 16px;
	align-content: center;
	border-radius: 11px; 
	vertical-align: bottom;
	font-family: Optima, sans-serif 

}
input{
	padding: 16px;
	align-content: center;
	border-radius: 11px;
	font-family: Optima, sans-serif 
}



